<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>title</key>
		<string>Round The Corners</string>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Round Settings</string>
			</dict>
			<dict>
				<key>key</key>
				<string>cornerRadius</string>
				<key>label</key>
				<string>Corner Radius</string>
				<key>defaults</key>
				<string>com.wings.rtcp</string>
				<key>default</key>
				<real>20</real>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>80</real>
				<key>showValue</key>
				<true />
				<key>cell</key>
				<string>PSSliderCell</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Respring</string>
				<key>action</key>
				<string>respring</string>
			</dict>
		</array>
	</dict>
</plist>