<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="wings" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>wings | Socials</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="https://kit.fontawesome.com/76addef203.js" crossorigin="anonymous"></script>
    <script src="../scripts.js?v=<%= Date.now() %>"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    </style>
</head>

<body>
    <header>
        <div class="topbar">
            <h1 onclick="goto.href='/';">wings</h1>
            <div class="hamburger" onclick="toggleMenu()">☰</div>
            <div class="nav">
                <button onclick="goto.href='/about';">About</button>
                <button onclick="window.location.href='https://fastipi.onrender.com';">WIP API</button>
                <button id="socials">Socials</button>
                <button id="home" onclick="goto.href='/';">Home</button>
                <p style="text-align: center; padding: 1%;">© wings 2025 | all rights reserved</p>
            </div>
        </div>
    </header>
    <main>
        <div class="c-container">
            <div class="content">
                <!-- why `font-size: 190%;`? because that's 90% the default font-size -->
                <h1 style="text-align: center; font-size: 190%;">Socials 🌐</h1>
                <hr>
                <p>I can also be found in some parts of the Internet, here's a list.</p>
                <h2>Social medias</h2>
                <a href="https://github.com/winaviation/"><i class="fa-brands fa-github"></i> GitHub</a><br>
                <a href="https://www.reddit.com/user/WinsAviation/"><i class="fa-brands fa-reddit"></i> Reddit</a><br>
                <a href="https://discord.bio/itsmewingsagain"><i class="fa-brands fa-discord"></i> Discord</a><br>
                <a href="mailto:winaviation2@gmail.com"><i class="fa-solid fa-envelope"></i> winaviation2@gmail.com</a>
            </div>
        </div>
    </main>
    <footer style="text-align: center; padding: 1%;">
        © wings 2025 | all rights reserved
    </footer>
    <script src="../hamburger.js?v=<%= Date.now() %>"></script>
</body>

</html>